<ul>
  {{#each broncos}}
    <li>
      <h2>{{name}}</h2>
      <p>Favorite Number: {{favorite_number}}</p>
      <p>Favorite Color: {{favorite_color}}</p>
      <p>Height: {{heightString}}</p>
      <p>IQ: {{iq}}</p>

    </li>
  {{/each}}
</ul>
